.Footer{
    position: fixed !important;
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: rgb(29, 88, 199);
    z-index: 98;
    // display:none !important;
    padding: 0px;
}

.Publicidad_Footer{
    width: 50%;
    padding: 5px;
    margin: 20px;
}


@keyframes flickerAnimation {
    0%   { opacity:1; }
    20%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    20%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    20%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    20%  { opacity:0; }
    100% { opacity:1; }
  }
  .Publicidad_Footer {
     -webkit-animation: flickerAnimation 5s infinite;
     -moz-animation: flickerAnimation 5s infinite;
     -o-animation: flickerAnimation 5s infinite;
      animation: flickerAnimation 5s infinite;
  }

